<template>
    <span class="loader"></span>
</template>

<script>
  export default {
    name: 'Loader'
  }
</script>

<style lang="scss" scoped>
    .loader {
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 2px solid rgba(255,255,255,.3);
        border-radius: 50%;
        border-top-color: #fff;
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
        margin: 7px 0 0 5px;
        vertical-align: top;
    }

    @keyframes spin {
        to { -webkit-transform: rotate(360deg); }
    }
    @-webkit-keyframes spin {
        to { -webkit-transform: rotate(360deg); }
    }

</style>