<template>
    <div class="search-wrapper">
        <div class="box">
            <input id="searchInput"
                   type="text"
                   name="searchInput"
                   placeholder="phrase"
                   v-model="searchValue">
            <v-select :options="options" v-model="searchType" :clearable="false"></v-select>
            <button v-on:click="search" :disabled="searchValue === ''" :class="{active: loading}">
                Search
                <Loader v-if="loading"/>
            </button>
        </div>

        <div class="search-results">
            <div class="item" v-for="result in searchResults">
                <a :href="result" target="_blank">
                    <span :style="{ backgroundImage: 'url(' + result + ')' }"></span>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
  import Loader from './Loader'
  import axios from 'axios'

  const apiUrl = `http://localhost:3000/url`
  import vSelect from 'vue-select'
  import 'vue-select/dist/vue-select.css'

  export default {
    name: 'Search',
    components: {
      'v-select': vSelect,
      Loader
    },
    data () {
      return {
        searchType: {label: 'giphy.com', value: 1},
        searchValue: '',
        searchResults: [],
        loading: false,
        options: [
          {label: 'giphy.com', value: 1},
          {label: 'pixabay.com', value: 2},
        ]
      }
    },
    methods: {
      /**
       * search phrase
       */
      search () {
        let url = `${apiUrl}?type=${this.searchType.value}&searchValue=${this.searchValue}`
        this.loading = true

        axios.get(url)
          .then((response) => {
            this.searchResults = response.data
            this.loading = false
          })
          .catch((error) => {
            this.loading = true
          })

      }
    }
  }
</script>

<style lang="scss" scoped>
    $mediaStep: 768px;

    .search-wrapper {
        width: 100%;
        max-width: 100%;

        .box {
            -webkit-box-shadow: 0px 0px 23px -8px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 23px -8px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 23px -8px rgba(0, 0, 0, 0.75);
            padding: 30px;
            max-width: 400px;
            margin: 0 auto;
            background: #fff;
            margin-top: 30px;
            margin-bottom: 30px;
            border-radius: 4px;

            #searchInput {
                width: 100%;
                padding: 0 10px;
                line-height: 34px;
                font-size: 18px;
                font-weight: 300;
                display: block;
                border-radius: 4px;
                margin-bottom: 20px;
                border: 1px solid #cdcccd;
                text-align: left;

                &::-webkit-input-placeholder {
                    font-weight: 100;
                }

                &::-moz-placeholder {
                    font-weight: 100;
                }

                &:-ms-input-placeholder {
                    font-weight: 100;
                }

                &:-moz-placeholder {
                    font-weight: 100;
                }

            }

            button {
                padding: 0 20px;
                line-height: 30px;
                text-transform: uppercase;
                border: 1px solid black;
                margin-left: 10px;
                background: transparent;
                margin-top: 20px;
                border-radius: 4px;
                transition: all 0.4s ease 0s;
                cursor: pointer;
                vertical-align: middle;

                &:disabled {
                    opacity: .5;
                    border-color: #bab9b9;
                }

                &:not(:disabled):hover,  &.active {
                    background: #23A6D5;
                    border-color: #23A6D5;
                    color: #fff;
                }

            }

        }

        .search-results {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            margin: 30px;

            @media (min-width: $mediaStep) {
                grid-template-columns: 1fr 1fr 1fr;
            }

            .item {
                padding-top: 100%;
                position: relative;

                a {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    span {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        transition: transform .5s;
                    }

                    &:hover {
                        span {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

    }
</style>