<template>
    <div class="wrapper">
        <Search/>
        <imageBg/>
    </div>
</template>


<script>
  import Search from './components/Search'
  import imageBg from './components/imageBg'

  export default {
    name: 'App',
    components: {
      Search,
      imageBg
    }
  }
</script>

<style lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
    $mediaStep: 768px;

    * {
        box-sizing: border-box;

        &:focus {
            outline: none;
        }
    }

    body {
        font-family: 'Lato', sans-serif;
    }

    .wrapper {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: $mediaStep) {
            width: 800px;
        }

        .pageTitle {
            text-align: center;
            font-size: 42px;
        }
    }
</style>